* {
  font-size: 1.01em;
  font-family: Helvetica;
}

.logo-holder {
  padding-left:40px;
  width:50%;
}

.menu-holder {
  display: flex;
  margin-left: 8vw;
  margin-right: 8vw;
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  line-height: 80px;
  height:90px;
}

img {
  margin-top: 10px;
}

.logo {
  position: relative;
  width: 100px;
  height: 100px;
}

.logos{
  position: relative;
  background-image: url("../Images/logo.png");
  background-size: cover;
  width: 100px;
  height: 100px;
}

.button-holder {
  justify-content: right;
  padding-right: 60px;
  display: flex;
  width: 50%;
  align-items: flex-end;
  flex-direction: row;
  background: transparent;
}

.button {
  justify-content: center;
  color: gray;
  display: flex;
  align-items: center;
  background: transparent;
  /* background: linear-gradient(to right,#bd177d , #520351); */
  border-radius: 0.5em;
  border: none;
  /* margin-top: 1.2em; */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-left: 1em;
  cursor: pointer;
  text-decoration: none;
}



.button-special {
  justify-content: center;
  color: white;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #3088d0b3, #1512c6c4);
  border-radius: 0.5em;
  border: none;
  margin-bottom: 1.4em;
  text-decoration: none;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 3em;
  margin-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  height: 25px;
}

Link a {
  text-decoration: none;
}

.button:hover {
  color: black;
}

.button-special:hover {
  background: linear-gradient(to right, #3088d0d7, #2321cb);
  transition: 0.2s ease-in-out;
}

.menubar {
  height: 200px;
  background: #779cf2;
  border-radius: 1em;
  margin-left: 2px;
  margin-right: 2px;
}

.menubar {
  display: none;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 1400px) {
  /* .menu-holder {
    margin-left: 5vw;
    padding-right: 6vw;
  } */
}

@media screen and (max-width: 1300px) {
  .menu-holder {
    display: flex;
    justify-content: flex-start;
  }
  /* .logo-holder {
    padding-right: 70%;
  }  */
}


.hamburger img:hover {
  background: #ededed;
  border-radius: 7px;
  transition: 0.2s ease-in-out;
}


@media screen and (max-width: 1150px) {
  /* .logo-holder {
    padding-right: 80%;
  }  */
}

@media screen and (max-width: 900px) {
  /* .logo-holder {
    padding-right: 80%;

  } */

  .menubar {
    display: block;
  }

  .button {
    display: none;
  }

  .button-special {
    display: none;
  }

  .button-holder{
    padding-right: 20px;
  }
  /* .logo{
        margin-right: ;
    } */
  .hamburger {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .hamburger img {
    height: 40px;
  }
}

@media screen and (max-width: 750px) {
  /* .logo-holder {
    padding-right: 70vw;
  } */
}

@media screen and (max-width: 650px) {
  /* .logo-holder {
    padding-right: 67vw;
  } */
}

@media screen and (max-width: 550px) {
  /* .logo-holder {
    padding-right: 63vw;
  } */
}

/* New nkdsnk*/
.menuNav {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  /* list-style: none; */
  position: absolute;
  top: 10px;
  left: 2%;
  background: white;
  border-radius: 20px;
  height: 490px;
  overflow: hidden;
  z-index: 9;
}

.menuNav.showMenu {
  display: flex;
  flex-direction: column;
  width: 96%;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 10px 1px rgb(129, 129, 131);
}

.title-holder-holder {
  width: 150px;
  height: 50px;
  padding-left: 20px;
  padding-right: 30vw;
}

.title-holder {
  margin-top: 10px;
  background-image: url("../Images/text-logo.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.menu-title {
  display: flex;
  flex-direction: row;
}

.menuNav.closeMenu {
  transition: all 0.2s ease;
  width: 0%;
}

.menuNav button {
  position: relative;
  cursor: pointer;
  border: none;
}

.close-button {
  margin-left: 30vw;
  margin-right: 3vw;
  padding: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.close-button:hover {
  background: #ededed;
}

.menuButt-holder {
  display: flex;
  flex-direction: column;
}

.menu-button {
  text-align: left;
  color: black;
  font-size: 17px;
  padding-left: 10vw;
  margin: none;
  width: 100%;
  height: 80px;
  background: transparent;
  text-decoration: none;
}

.menu-button:hover {
  background: #ededed;
}

.option-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menus-button.special {
  font-size: 20px;
  background: linear-gradient(to right, #5c52edd7, #56a6eb);
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  margin-left: 10%;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 80%;
  /* box-shadow: 0px 2px 10px 2px rgb(254, 194, 227); */
}

.menus-button.special:hover {
  background: linear-gradient(to right, #392de9d7, #2a8ade);
}

i {
  color: white;
  background: linear-gradient(to top, #5c52edd7, #56a6eb);
  padding: 10px;
  border-radius: 10px;
  align-self: start;
  margin-right: 10px;
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .menuNav {
    width: 0%;
  }
}