
.main-member-card-holder{
    box-shadow: -5px 20px 20px 5px rgb(230, 224, 224);
}

.member-profile-holder{
    display: flex;
    flex-direction: row;

    min-height: 630px;
}

.bi.bi-unity{
    color: black;
    font-size: 30px;
    background: beige;
}

.member-profile:hover{
    transform: scale(1.02);
}
.member-text{
    text-align: center;
    font-size: 2em;
    font-weight: 200;
    /* padding-left: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.member-profile-holder h1{
    padding-top: 10px;
    color: rgb(49, 49, 108);
    padding-bottom: 5px;
    font-weight: 300;
}

.member-profile{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: center;
    width:280px;
    box-shadow: -5px 5px 30px 5px rgb(210, 204, 204);
    height: 380px;
}

.footer-holder{
    width: 100%;
    margin-bottom: 15px;
}

@media screen and (max-width:1300px) {
        .member-profile-holder{
            display:grid;
            grid-template-columns: 280px 280px;
            grid-row: auto auto;
            grid-column-gap: 40px;
            grid-row-gap: 40px;
            padding-bottom: 60px;
        }
}

@media screen and (max-width:660px) {
    .member-profile-holder{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .member-profile{
        align-self: center;
    }
}

.member-photo{
    border-radius: 20px;
    width:210px;
    height:300px;
}

.resource-button-holder{
    display: flex;
    flex-direction: row;
    /* Temperorary*/
    padding-top: 50px;
    /**/

    display: flex;
}
.resource-button{
    width: 500px;
    height:220px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    /* font-family: sans-serif; */
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(237, 235, 235);
    color: rgb(127, 122, 122);
    font-weight: 400;

    margin:30px;
}

.resource-button.one{
    transition: all 0.2s ease-in-out;
    background: rgb(255, 255, 255);
}
.resource-button.one:hover{
    /* background: rgb(245, 247, 249); */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* transform: scale(1.01); */
    box-shadow: 2px 1px 18px 1px rgb(222, 224, 224);
    
}

.resource-button.two{
    transition: all 0.2s ease-in-out;
    background: rgb(255, 255, 255);
}
.resource-button.two:hover{
    cursor: pointer;
    /* transform: scale(1.01); */
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 1px 18px 1px rgb(222, 224, 224);
}

.resource-button.three{
    transition: all 0.2s ease-in-out;
    background: rgb(255, 255, 255);
}

.resource-button.three:hover{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* transform: scale(1.01); */
    box-shadow: 2px 1px 18px 1px rgb(222, 224, 224);
}
@media screen and (max-width: 1100px){
    .resource-button-holder{
        padding-top: 0px;
        padding-bottom: 50px;
        align-self: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .resource-button{
        width: 500px;
        height: 220px;
    }
}

@media screen and (max-width: 600px){
    .resource-button{
        width: 300px
    }
}


.icon-holder-r{
    padding-top: 11px;
    display: flex;
    width: 50px;
    height: 41px;
    border-radius: 13px;
    background: linear-gradient(to right, #e59d32, #ea4e15);
}

.icon-holder-g{
    padding-top: 12px;
    display: flex;
    width: 50px;
    height: 40px;
    border-radius: 13px;
    background: linear-gradient(to right, hsla(267, 79%, 56%, 0.843), #6b3dbc);
}

.icon-holder-p{
    padding-top: 13px;
    display: flex;
    width: 50px;
    height: 39px;
    border-radius: 13px;
    background: linear-gradient(to right, #20c781, #0fa02e);
}

.breif-des h2{
    padding-top: 20px;
    font-weight: 800;
    text-align: left;
    color: black;
    font-size: 20px;
}
.breif-des h4{
    padding-top: 20px;
    font-weight: 200;
    text-align: left;
    color: black;
    font-size: 17px;
}